.table {
  box-shadow: 0 0 10px black;
  border-collapse: collapse;
  overflow: hidden;
  font-weight: bold;
}

.table thead th {
  background: #009578;
  color: #fff;
}

.table td,
.table th {
  padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
  background-color: #eee;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009578;
}
